*{
    margin: 0px;
    padding: 0px;
}

html{
    height: auto;
    min-height: 100%; /*todo esto para q no se repita sino q se aplique a toda la pantalla*/
 } 
body{
    background: linear-gradient(to left,#896a95, #e5c5f0);
   
}
header{
    margin: 2%;
    text-align: center;
    display: flex;
   
}

.icono_home{
    padding-left: 2%;
    position: absolute;
    width: 6%;
    height: 7rem;
    z-index: 2;

}
.icono_home img{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.icono_home img:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
  
}