
*{
    margin: 0px;
    padding: 0px;
}

html{
    height: auto;
    min-height: 100%; /*todo esto para q no se repita sino q se aplique a toda la pantalla*/
 } 
body{
    background: radial-gradient(circle,#A3C4F3,#FBF8CC); 
}
.icono_home{
    padding-left: 2%;
    position: absolute;
    width: 6%;
    height: 7rem;
    z-index: 2;

}
.icono_home img{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.icono_home img:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
  
}

header{
    margin: 2%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#demotext {
    margin-left: 15%;
    font-size: 100px;
    color: #FFFFFF;

    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
   
    }

.cont_icon{
    width: 10%;
    height: 10rem;
    /*background-color: black;*/
}

main{
    display: flex;
    justify-content: center;
}
.intro{
    width: 80%;
    height: 25rem;
    display: flex;
    justify-content: space-between;
}
.texto_intro{
    width: 50%;
    height: 60%;
    background-color: #A3C4F3;
    border-radius: 50px 50px 50px 50px;
 
    text-align: justify;
    /* box-shadow: 2px 2px 5px 5px #017f05; */
}
.texto_intro p{
    padding: 3%;
    margin-top: 2%;
   
    font-size: 30px;
}

.intro_img{
    width: 15%;
    height: 100%;
    
}

.intro_tabla{
    margin-left: 2%;
    width: 50%;
    height: 100%;
    /*background-color: black;*/
}

.section1{
    
    width: 100%;
    height: 20rem;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.primera_ley{
    margin: 2%;
    margin-left: 8%;
    width: 50%;
    height: 24.5rem;
    background-color: #A3C4F3;
    border-radius: 50px;
    text-align: justify;
    /* box-shadow: 2px 2px 5px 5px #017f05; */
}

.primera_ley  p{
    padding: 3%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.conte_primera_ley{
    padding: 2.5%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.primera_ley_img{
    
    margin: 2%;
    width: 50%;
    height: 20rem;
    /* background-color: black; */
}

.primera_audio{
    display: flex;
    justify-content: center;
    margin-left: 17%;
}


.fantasma{
    margin-top: 5%;
    height: 2rem;
    width: 100%;
    
}

.menu{
    position: absolute;
    margin-top: 3%;
    width: 20%;
    height: 30rem;

    display: flex;
    flex-direction: column;
 


}
.menu3d {
    background: radial-gradient(circle,#90DBF4,#FBF8CC);  

    width: 100%;
    height: 4rem;
    transform:
    perspective(750px)
    translate3d(0px, 0px, -250px)
    rotateX(27deg)
    scale(0.9, 0.9);
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
    box-shadow: 2px 2px 5px 5px grey;
    text-align: center;
   
    }
  .menu3d:hover {
    transform: translate3d(0px, 0px, -250px);
  }

.menu3d a{

    text-decoration: none;
    font-size: 40px;
    color: black;

} 

section{
    position: absolute;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 40rem;
}

.divD{
    margin-top: 3%;
    width: 100%;
    height: 40rem;
    box-shadow: 2px 2px 5px 5px grey;
    padding: 3%;
    text-align: justify;
    font-size: 30px;
}
