*{
    margin: 0px;
    padding: 0px;
}

html{
    height: auto;
    min-height: 100%; /*todo esto para q no se repita sino q se aplique a toda la pantalla*/
 } 
body{
    background: radial-gradient(circle,#90DBF4 ,#FBF8CC); 
}

#demotext {
    font-size: 100px;
    color: #FFFFFF;
    margin-top: 2%;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
   
    }

    .icono_home{
        padding-left: 2%;
        position: absolute;
        width: 6%;
        height: 7rem;
        z-index: 2;
    
    }
    .icono_home img{
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .icono_home img:hover{
        -webkit-transform:scale(1.2);transform:scale(1.2);
      
    }
    header{
        text-align: center;
    }

    .menu{
        position: absolute;
        margin-top: 3%;
        width: 20%;
        height: 45rem;

        display: flex;
        flex-direction: column;
     


    }
    .menu3d {
        background: radial-gradient(circle,#90DBF4,#FBF8CC);  

        width: 100%;
        height: 10rem;
        transform:
        perspective(750px)
        translate3d(0px, 0px, -250px)
        rotateX(27deg)
        scale(0.9, 0.9);
        border-radius: 20px;
        border: 5px solid #e6e6e6;
        box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
        transition: 0.4s ease-in-out transform;
        box-shadow: 2px 2px 5px 5px grey;
        padding-top: 9%;
      }
      .menu3d:hover {
        transform: translate3d(0px, 0px, -250px);
      }

    .menu3d a{
        text-decoration: none;
        font-size: 40px;
        color: black;
    } 
    
    section{
        position: absolute;
        margin-left: 30%;
        display: flex;
        justify-content: center;
        width: 60%;
        height: 40rem;

    }
    .divD{
        margin-top: 3%;
        width: 100%;
        height: 40rem;
        box-shadow: 2px 2px 5px 5px grey;
        padding: 3%;
        text-align: justify;
        font-size: 30px;
    }
.divD p{
    display: none;
}